E2E_MOBILE_BASE_URL=http://127.0.0.1:4174
E2E_MOBILE_API_BASE_URL=http://localhost
E2E_MOBILE_API_BASE_PATH=/webtest/api/v1
E2E_MOBILE_REPO_PATH=C:\projects\school\gendejesus\mobile.webtest.solutions
E2E_SKIP_WEB_SERVER=0
