E2E_BASE_URL=http://localhost
E2E_API_BASE_PATH=/webtest/api/v1
E2E_ORG_ID=1
E2E_PROJECT_ID=1
E2E_LABEL_ID=1

E2E_SUPER_ADMIN_EMAIL=superadmin@local.dev
E2E_SUPER_ADMIN_PASSWORD=DevPass123!
E2E_SUPER_ADMIN_ID=1

E2E_ADMIN_EMAIL=admin@local.dev
E2E_ADMIN_PASSWORD=DevPass123!
E2E_ADMIN_ID=2

E2E_PM_EMAIL=pm@local.dev
E2E_PM_PASSWORD=DevPass123!
E2E_PM_ID=3

E2E_SENIOR_DEV_EMAIL=senior@local.dev
E2E_SENIOR_DEV_PASSWORD=DevPass123!
E2E_SENIOR_DEV_ID=4

E2E_JUNIOR_DEV_EMAIL=junior@local.dev
E2E_JUNIOR_DEV_PASSWORD=DevPass123!
E2E_JUNIOR_DEV_ID=5

E2E_QA_TESTER_EMAIL=qa@local.dev
E2E_QA_TESTER_PASSWORD=DevPass123!
E2E_QA_TESTER_ID=6

E2E_SENIOR_QA_EMAIL=seniorqa@local.dev
E2E_SENIOR_QA_PASSWORD=DevPass123!
E2E_SENIOR_QA_ID=7

E2E_QA_LEAD_EMAIL=qalead@local.dev
E2E_QA_LEAD_PASSWORD=DevPass123!
E2E_QA_LEAD_ID=8

E2E_OPENCLAW_INTERNAL_TOKEN=replace-me-too
E2E_CHECKLIST_BOT_TOKEN=replace-me
