E2E_BASE_URL=http://localhost/webtest
E2E_AUTH_EMAIL=
E2E_AUTH_PASSWORD=
E2E_RESET_EMAIL=
E2E_RESET_ORIGINAL_PASSWORD=
E2E_RESET_NEW_PASSWORD=
E2E_IMAP_HOST=imap.gmail.com
E2E_IMAP_PORT=993
E2E_IMAP_USER=
E2E_IMAP_PASSWORD=
